.home {
    width: 100%;
    min-height: 85vh;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.home img {
    height: 350px;
}

.home p {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.home span {
    color: rgb(175, 16, 238);
}

.btn {
    width: 250px;
    height: 50px;
    font-size: 1.125rem;
    font-weight: bold;
    border: 0;
    border-radius: 8px;
    background-color: blueviolet;
    color: beige;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
